{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<section class="navigation">
    <div class="nav-container">
        <div class="brand align-items-center justify-contents-center">
            <a [routerLink]="'accueil'">
                <img src="{% static 'img/logo.png' %}" alt="" height="50px">
                Sama Diplome
            </a>
        </div>

        <nav>
            <ul class="nav-list">
                <li><a href="{% url 'accueil' %}" class="nav-ele nav-link">ACCUEIL</a></li>
                <li><a href="{% url 'demarche' %}" class="nav-ele nav-link">DEMARCHE</a></li>
                <li><a href="{% url 'statut' %}" class="nav-ele nav-link">STATUT</a></li>
                <li><a href="{% url 'contact' %}" class="nav-ele nav-link">CONTACT</a></li>
            </ul>
        </nav>

        <!-- If the user is logged in, show the user profile dropdown -->
        {% if user.is_authenticated %}
        <div class="brand-new" style="display: {% if user.is_authenticated %}block{% else %}none{% endif %};">
            <a href="{% url 'infos-perso' %}">
                <img src="{% static 'img/user.png' %}" alt="" height="52px" width="55.08px" style="margin-left: -2px;">
            </a>
            <div class="dropdown">
                <button class="dropdown-button">
                    <a>
                        <img src="{% static 'img/Chevron-down.png'%} " alt="Dropdown Icon" height="30px" width="19px">
                    </a>
                </button>
                <div class="dropdown-menu">
                    <a href="{% url 'deconnexion' %}" class="dropdown-item">Deconnexion</a>
                </div>
            </div>
        </div>
        <!-- If the user is not logged in, show the "Se connecter" button -->
        {% else %}
        <div class="logButton" style="display: {% if user.is_authenticated %}none{% else %}block{% endif %};">
            <a href="{% url 'connexion1' %}">Se connecter</a>
        </div>
        {% endif %}
    </div>
</section>