.connexion-box {
    padding-top: 8rem;

    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;

    justify-content: space-between;
}

.log-box {
    width: 100%;
    margin-right: 9%;
}


.img-slide img {

    margin-right: 6rem;
    margin-left: 3rem;
    width: 46vw;
}

.title1 {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;

    font-size: 4rem;

    text-shadow: 0.5px 0 rgb(21, 93, 50), -0.5px 0 rgb(21, 93, 50), 0 0.5px rgb(21, 93, 50), 0 -0.5px rgb(21, 93, 50), 0.5px 0.5px rgb(21, 93, 50), -0.5px -0.5px rgb(21, 93, 50), -0.5px 0.5px rgb(21, 93, 50), 0.5px -0.5px rgb(21, 93, 50);

    margin-bottom: 2rem;
}

.title2 {
    color: #515151;
    font-size: 1.1rem;
}

/* Comptes associés */
.account-buttons button {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.367);
    border-radius: 1.3rem;

    font-size: 1.4rem;

}

.account-buttons {
    justify-content: space-between;
}

.google-img img {
    width: 1.4em;
    height: 1.4em;

    margin-right: 0.9rem;
}

.btn-google {
    margin-right: 1rem;
    padding: 0.6rem 5rem;
    transition: 0.1s ease;
}

.btn-facebook {
    padding: 0.6rem 4.3rem;
    transition: 0.1s ease;
}

.btn-google:hover,
.btn-facebook:hover {
    background-color: #EFF3F0;
}

/* Divider */
.divider {
    border-top: #000000;
    width: 100%;
}

hr.divider {
    border: none;
    border-top: 2px solid #a9a9a9;
    width: 80%;
    margin: 30px auto;
}


/* Input boxes */
.mdpforget a {
    text-decoration: none;
    color: #979797;
}


/* Checkbox */
.rememberMe {
    margin-top: 1rem;
    font-size: 1.15rem;
}

.rememberMe label {
    margin-left: 1rem;
}

.form-check-input {
    width: 1.2rem;
    height: 1.2rem;
    background-color: white;
    border: 2px solid black;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}


.form-check-input:checked {
    background-color: #467F5D;
    border-color: black;
}


.form-check-input:focus {
    box-shadow: none;
    outline: none;
    border: 2px solid black;
}

.form-check-label {
    cursor: pointer;
}

/* ------------------------------------------------------------------------- */


.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
}

/* Button styling */
.connect-btn {
    background-color: #467F5D;
    color: white;
    border: none;
    padding: 0.7rem 3rem;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


.connect-btn:hover {
    background-color: #55896A;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
}


.register-text {
    text-align: center;
    margin-top: 2.7rem;
    margin-bottom: 2rem;
    font-size: 1.15rem;
    color: #979797;
}

/* Link styling */
.register-link {
    color: #467F5D;
    text-decoration: underline;
    cursor: pointer;
}


.register-link:hover {
    color: #55896A;
    font-weight: 600;
}


.container-input {
    position: relative;

    width: 100%;
    padding: 0px;
    border-radius: 10px;

    background-color: #e2e2e2;
}

.container-input .input-box {
    position: relative;
    height: 58px;
}


.container-input .input-box :is(label, a) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    color: #4A4A4A;

    transition: all 0.2s ease;

}

.container-input label {
    left: 65px;
    pointer-events: none;
    font-size: 1.2rem;

    padding: 0 10px;

}

.container-input a {
    right: 15px;
    cursor: pointer;
}


/* Lock Icon */
.lock-icon {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;

    z-index: 2;
    pointer-events: none;
}


.container-input input {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #e2e2e2;
    background-color: #e2e2e2;

    caret-color: #467F5D;

    font-size: 1.2rem;
    color: #505050;

    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;

    padding: 0 70px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

/* Focus effect */
.container-input input:is(:focus, :valid) {
    border-color: #467F5D;
    background-color: #ffffff;

}


.container-input input:is(:focus, :valid)~label {
    top: 2px;
    font-size: 1rem;
    color: #467F5D;
    background-color: #ffffff;
}

.validerButton {
    color: #467F5D;
    background-color: #ffffff;
    border: 2px solid #467F5D;
    padding: 0.7rem 4.3rem;
    margin-right: 1rem;
}

.validerButton:hover {
    background-color: #ffffff;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1068px) {
    .connexion-box {
        flex-direction: column;
        align-items: center;
        padding-top: 5rem;
    }

    .img-slide img {
        width: 80%;
        margin: 0 auto;
        display: block;
    }

    .log-box {
        width: 90%;
        margin: 0 0 1rem;
    }

    .account-buttons {
        gap: 1rem;
    }

    .account-buttons button {
        font-size: 1.1rem;

    }

    .btn-google,
    .btn-facebook {
        width: 100%;
        padding: 0.7rem 0;
    }

    .title1 {
        font-size: 3.3rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .title2 {
        text-align: center;
    }

    .divider {
        width: 100%;
    }

    .rememberMe {
        display: flex;
    }

    .btn-container {
        justify-content: center;
    }

    .double-inputs {
        display: block !important;
    }
}

/* Responsive mobiles */
@media screen and (max-width: 768px) {
    .connexion-box {
        position: relative;
    }

    .register-link {
        display: block;
    }


    .connexion-box::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 30%;
        z-index: -1;
    }


    .box-account1 {
        display: none;
    }

    .box-account2 {
        display: block !important;
    }

    hr.divider {
        border: none;
        border-top: 2px solid #818181;
        width: 80%;
        margin: 30px auto 20px;
    }

    .title1 {
        font-size: 2.5rem;
        margin-bottom: 0;
    }

    .img-slide img {
        width: 80%;

    }

    .container-input input {
        font-size: 1rem;
        border-radius: 5px;
    }

    .container-input {
        margin-top: 1.5rem !important;
    }

    .container-input .input-box {
        position: relative;
        height: 53px;
    }

}