:root {
--nav-background:  #6FA87C;
}


.footer-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #000000,#000000,#000000,#000000, #c9d4c9);

}

.footer {
    display: flex;
    width: 80%;
    padding: 0px;
    margin: 0px;
    justify-content: space-between;
    height: 236px;
    background: linear-gradient(to bottom, #000000,#000000,#000000,#000000, #c9d4c9);
    color: white;
}



.foot-1 {
    flex: 0 0 40%; /* Fixed width at 40% */
    padding: 36px 0px 0px 20px;

}
  
.foot-2 {
    flex: 0 0 30%; /* Fixed width at 30% */
    padding: 36px 0px 0px 0px;

}

.foot-3 {
    flex: 0 0 20%; /* Fixed width at 20% */
    padding: 36px 0px 0px 0px;

}

/* //  Navbar  */
nav  ul, nav  ul li a, nav  ul li {
    text-decoration: none;
    margin-right: 4px;
    display: flex;
    padding-left: 0px;
    padding-right:8px;
    height: max-content;
    color: white;
    
}
  
.navigation-2 {
    width: max-content;
}
/* // pour le hover */
.nav-ele:hover,  .nav-ele:hover .nav-ele{
    border-bottom:#6FA87C 5px solid;
    
}

.with-border {
    border-right: #fff solid 2px;
}
.copyright {
    width: max-content;
    padding-top: 15px;
    font-family: "Inter";
    font-size: 18px;
}

.foot-2 {
    padding-top: 36px;
}

.foot-2 div {
    display: flex;
    margin-bottom: 25px;
    font-size: 17px;
    align-items: center;
    text-align: start;
}
.image-foot-2 {
    margin-right: 20px;
}

.name-title {
    font-size: 25px;
    padding-bottom: 5px;
}

.name-subtitle {
    margin: auto;
    padding-bottom: 15px;
    font-size: 15px;
}
.images {
    display: flex; /* Enable Flexbox for the container */
    justify-content: space-between; /* Spread the images evenly */
    align-items: center; /* Vertically align the images */
  }
.images img {
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.footer img:hover {
    cursor: pointer;
}