.footer-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #000000, #000000, #000000, #000000, #c9d4c9);
    height: auto; /* Changez max-content à auto pour mieux gérer les petites hauteurs */
}

.footer, .the-row {
    width: 80%;
    padding: 0px;
    margin: 0px;
    color: white;
    background: linear-gradient(to bottom, #000000, #000000, #000000, #000000, #c9d4c9);
    min-height: 236px; /* Garantir une hauteur minimale pour le footer */
    background-size: cover; /* Pour s'assurer que l'image de fond s'étend correctement */
}

/* Adaptation de la hauteur pour responsive */
@media (min-width: 992px) {
    .footer {
        min-height: 236px;
    }
}

@media (max-width: 991px) {
    .footer {
        height: auto;
        padding-bottom: 20px;
    }
    .footer-section {
        height: auto; /* Toujours auto pour éviter la hauteur excessive */
    }
}

.foot-1,
.foot-2,
.foot-3 {
    padding-top: 36px;
}

.logo {
    margin-bottom: 10px;
}

/* Pour la version mobile, adapter le menu */
@media (max-width: 767px) {
    .footer {
        min-height: 236px;
        height: auto; /* Remplacer la hauteur fixe par auto pour plus de flexibilité */
    }
    .footer-section {
        height: auto; /* S'assurer que la section utilise toute la hauteur disponible */
    }
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-list0 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }

    .nav-list0 li {
        margin-bottom: 8px;
    }

    .nav-list0 .with-border {
        border-right: none;
        border-bottom: #fff solid 1px;
        padding-bottom: 4px;
    }
}

.copyright {
    width: max-content;
    padding-top: 15px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
}

.foot-2 div {
    display: flex;
    margin-bottom: 25px;
    font-size: 17px;
    align-items: center;
    text-align: start;
}

.image-foot-2 {
    margin-right: 20px;
}

.name-title {
    font-size: 25px;
    padding-bottom: 5px;
}

.name-subtitle {
    margin: auto;
    padding-bottom: 15px;
    font-size: 15px;
}

.images {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.images img {
    margin-right: 20px;
}

.footer img:hover {
    cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 767px) {
    .footer {
        min-height: 236px;
        height: auto;
    }
    .footer-section {
        height: auto;
    }
    .copyright {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    .name-title,
    .name-subtitle {
        text-align: left;
    }

    .images {
        justify-content: center;
    }
}


.nav-ele2 {
    background-color: #000000 !important;
}