{% extends "base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/valid.css' %}">
{% endblock %}

{% block contenu %}

<section class="demarche-section">
    <div class="container">
      <div class="image">
        <img src="{% static 'img/demarche/undraw_super_thank_you_re_f8bo 1.png' %}" alt="Validation réussie" class="image">
      </div>
      <h1>Merci beaucoup</h1>
      <h3 class="text-success">Votre demande a été validée avec succès</h3>
    </div>
  </section>
{% endblock contenu %}
